.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.App {
  text-align: center;
}

.App .App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.send-message {
  width: 1000px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-author {
  width: 200px;
  color: black;
}

.input-text {
  width: 600px;
}

.button-text {
  margin-top: 10px;
  width: 333px;
}

.chat {
  background-color: lightblue;
  width: 1000px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: black;
}

.messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chats {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chatList {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120px;
}

.addChat {
  width: 120px;
}

.chatText {
  position: relative;
}

.deleteChat {
  position: absolute;
  right: -25px;
  top: -25px;
  color: red;
  cursor: pointer;
}

.chatButton {
  height: 40px;
}

.message {
  margin: 10px 15px 0 0;
  padding: 5px 15px;
  color: black;
  min-height: 30px;
  max-width: 1000px;
  font-size: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: azure;
  border: 1px solid black;
  border-radius: 20px;
}

.answer {
  margin: 10px 0 0 15px;
  padding: 5px 15px;
  color: black;
  min-height: 30px;
  max-width: 1000px;
  font-size: 20px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  background-color: azure;
  border: 1px solid black;
  border-radius: 20px;
}

.profile {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 400px;
}
/*# sourceMappingURL=App.css.map */